
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url("https://inkcaps.neocities.org/assets/background/star.gif");
    background-color: #000000;
}

a{
    color:aliceblue;
}
.container {
    text-align: center; 
}

h1 {
    margin-bottom: 20px;
    color:aliceblue
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #211253;;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4b2aab;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #360c69;
}

canvas {
    width: 600px; /* Fixed width for canvas */
    height: 600px; /* Fixed height for canvas */
    border: 1px solid #ccc;
    background-color: #000000;
    margin-top: 20px;
}
