
body {
    background-image: url("https://inkcaps.neocities.org/assets/background/star.gif");
}

a{
    color:aliceblue;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #7a80e9 ;
}

button{
    height: 50px;
    width: 100px;
}

