
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url("https://inkcaps.neocities.org/assets/background/star.gif");
}

a{
    color:aliceblue;
}

a {
    color:aliceblue
}

